/********** elementUI样式重写 **********/
/* 去除某些组件获取鼠标焦点时黑色边框 */
*:focus {outline: none;}
.el-button:focus {outline: none;}

.el-table .cell{padding: 0 10px;}

.el-switch{ height:20px; }

/* Dialog 对话框 */
.el-overlay {
	overflow: hidden;
	.el-overlay-dialog {
		display: flex;
		align-items: center;
		justify-content: center;
		position: unset !important;
		width: 100%;
		height: 100%;
		.el-dialog {
			margin: 0 auto !important;
			position: absolute;
			max-width: calc(100vw - 30px) !important;
			max-height: calc(100vh - 30px) !important;
			.el-dialog__body {
				padding: 20px;
				max-height: calc(100vh - 116px - 40px - 30px) !important;
				overflow-y: auto;
				overflow-x: hidden;
			}
			&.is-fullscreen {
				width: 100% !important;
				max-width: unset !important;
				max-height: unset !important;
				border-radius: 0;
			}
		}
	}
}

@media (max-width:700px) {
	.el-overlay {
		.el-overlay-dialog {
			.el-dialog {
				min-width: 80% !important;
			}
		}
	}
}

@media (max-width:500px) {
	.el-overlay {
		.el-overlay-dialog {
			.el-dialog {
				width: calc(100vw - 20px) !important;
				max-width: unset !important;
				max-height: calc(100vh - 20px) !important;
				.el-dialog__body {
					max-height: calc(100vh - 116px - 40px - 20px) !important;
				}
			}
		}
	}
}